[Unit]
Description=Generating html file

[Service]
Type=simple
ExecStart=/var/lib/webgen/bin/generate_index
User=webgen
Group=webgen

[Install]
WantedBy=multi-user.target

